$colorDescription: #757575;

.contact {
  font-size: 14px;
  text-decoration: none;
  display: none;

  &__header {
    letter-spacing: 0.02em;
    line-height: 1.172;
    font-weight: 500;
    color: $colorDescription;
  }

  &__header-mail {
    padding-right: 30px;
  }
  &__mobile-menu {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 481px) {
  .contact {
    font-size: 14px;
    text-decoration: none;
    flex-direction: column;
    display: flex;

    &__header {
      letter-spacing: 0.02em;
      line-height: 1.172;
      font-weight: 500;
      color: $colorDescription;
    }

    &__header-mail {
      padding-right: 30px;
    }
    &__mobile-menu {
      display: none;
    }
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    text-decoration: none;
    flex-direction: row;
    display: flex;

    &__header {
      letter-spacing: 0.02em;
      line-height: 1.172;
      font-weight: 500;
      color: $colorDescription;
    }

    &__header-mail {
      padding-right: 30px;
    }
    &__mobile-menu {
      display: none;
    }
  }
}
