.icons-footer {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: #2196f3;
    border-radius: 50%;
  }

  &__conteiner {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
