$colorText: #ffffff;
$colorLogoOne: #2196f3;
$colorLogoTwo: #000000;

.logo {
  padding-right: 93px;
  letter-spacing: 0.03em;
  line-height: 1.173;
  font-weight: 700;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  color: $colorLogoTwo;

  &__one {
    color: $colorLogoOne;
  }

  &__secondary {
    color: $colorText;
  }
}
