.menu {
  padding-top: 26px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__portfolio {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    padding-top: 26px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__portfolio {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
