$backgroundTwo: #2f303a;

.social-media {
  margin: 0;

  &__header {
    padding-bottom: 20px;
    padding-top: 72px;
    margin: 0px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    display: flex;
    justify-content: center;
  }
  &__header-newsletter {
    padding-bottom: 20px;
    padding-top: 72px;
    margin: 0px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    display: flex;
    justify-content: center;
  }

  &__email-footer {
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $backgroundTwo;
    width: 358px;
    height: 50px;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .social-media {
    margin: 0;
    margin-left: 70px;

    &__header {
      padding-bottom: 20px;
      padding-top: 72px;
      margin: 0px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.172;
      display: flex;
      justify-content: flex-start;
    }
    &__header-newsletter {
      padding-bottom: 20px;
      padding-top: 82px;
      margin: 0px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.172;
      display: flex;
      justify-content: flex-start;
    }

    &__email-footer {
      padding-left: 15px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: $backgroundTwo;
      width: 358px;
      height: 50px;
      color: #ffffff;
    }
  }
}
