$colorDescription: #757575;
$colorButtonLink: #2196f3;
$colorLogoOne: #2196f3;
$colorLogoTwo: #000000;
$backgroundTwo: #2f303a;
$colorText: #ffffff;
$colorFooterColor: rgba(255, 255, 255, 0.6);
$colorMain: #212121;
